<div class="top-bar">
    <div class ="left-date">
        <button class="date-arrow" id="left-date"><i class="fa-solid fa-arrow-left"></i> </button>
    </div>
    <div class="date">
        <h1>{{desiredDate}}</h1>
    </div>
    <div class ="right-date">
        <button class="date-arrow" id="right-date"><i class="fa-solid fa-arrow-right"></i> </button>
    </div>
</div>
<div>
    <div class ="date-select">
        <button id ="dateButton">Filter by Date</button>
            <div id="dateDropdown" class ="dropdownContent">

            </div>
    </div>
    <div class ="person-select">
        <button id ="personButton">Filter by Person</button>
            <div id="personDropdown" class ="dropdownContent">

            </div>
    </div>
    <div class = "misc-select">
        <button id = "miscButton">Miscellaneous drawings</button>
    </div>
    <div class = "DYOA-select">
        <button id = "DYOAButton">All DYOA Drawings</button>
    </div>
</div>
<script src="/js/dateError.js"></script>

